#page-title {
  size: 24px;
  color: blue;
}

#play-area {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.row {
  display: flex;
  height: 3rem;
  width: 30rem;
}

.space {
  border: solid thin;
  background-color: lightblue;
  width: 10%;
}

.ship-space {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
