#page-title {
  size: 24px;
  color: blue;
}

#play-area {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.row {
  display: flex;
  height: 3rem;
  width: 30rem;
}

.space {
  border: solid thin;
  background-color: rgba(51, 100, 235, 0.788);
  width: 10%;
}

.ship-space,
.shot-space {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.shot-space {
  color: white;
}

.hit-space {
  color: red;
}

#restart-game-button {
  text-align: center;
}

#game-over-modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 45%;
  border: solid;
  padding: 1rem;
  text-align: center;
}
